[submodule "zig/lib/clap"]
	path = zig/lib/clap
	url = https://github.com/Hejsil/zig-clap
	branch = 272d8e2088b2cae037349fb260dc05ec46bba422
[submodule "zig/lib/sdl"]
	path = zig/lib/sdl
	url = https://github.com/MasterQ32/SDL.zig
	branch = 55caabfff7c03e42a4c6563e0f6d16cc8fa26dd6
