name: C++

on:
  push:
    branches:
    - master
    paths:
    - 'cpp/**'
    - '.github/workflows/cpp.yml'
  pull_request:
    paths:
    - 'cpp/**'
    - '.github/workflows/cpp.yml'
  workflow_dispatch:

jobs:
  common:
    name: Common
    uses: ./.github/workflows/common.yml
    with:
      workdir: cpp
      format-pkgs: clang-format-14
      build-pkgs: gcc cmake libsdl2-dev
      cache-paths: |
        cpp/build
      cache-key: build
      build-nix: true
