name: Cython

on:
  push:
    branches:
    - master
    paths:
    - 'pxd/**'
    - '.github/workflows/pxd.yml'
    - '.github/workflows/common.yml'
  pull_request:
    paths:
    - 'pxd/**'
    - '.github/workflows/pxd.yml'
    - '.github/workflows/common.yml'
  workflow_dispatch:

jobs:
  common:
    name: Common
    uses: ./.github/workflows/common.yml
    with:
      workdir: pxd
      format-pkgs: python3.11-venv
      build-pkgs: python3.11-venv libsdl2-dev
      cache-paths: |
        pxd/venv
      cache-key: venv
